.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

.page-footer {
  background: rgba(233, 233, 233, .5);
  font-size: 13px;
}

.fa-user-shield,
.fa-envelope,
.fa-facebook-f,
.fa-instagram {
  height: 1.75rem;
}

a {
  .fa-user-shield,
  .fa-envelope,
  .fa-facebook-f,
  .fa-instagram {
    color: #2a2a2a;
  }
}

.lg-banner {
  padding: 1rem 0;
  background: url('../images/lathes2bg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
}

.navbar-brand svg {
  height: 48px;
  width: 48px;
}

#logo {
  width: auto;
  height: 15rem;
  filter: drop-shadow(.25rem .25rem 2rem $white);
}

.text-footer {
  text-transform: uppercase;
}

.faq-container {
  margin-bottom: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#CFB8A9, .33);
  }

  h5 {
    color: #94806E;
  }
}

/* Admin */
.list-group-item-action:hover,
.table-hover tbody tr {
  cursor: pointer;
}

.admin-header {
  padding-top: 2.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: rgba(#4aedef, .1);

  a {
    color: #007bff;
  }

  .nav-link:hover, .nav-link:focus {
    text-decoration: underline !important;
  }

  .nav-link.router-link-exact-active {
    background: rgba(#4aedef, .33);
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.admin-table {
  .table-striped td {
    padding: .5rem 0;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: rgba(#4aedef, .1);
  }
}

@media (max-width: 920px) {
  .lg-main-nav {
    font-size: 1rem;
  }

  .fa-user-shield,
  .fa-envelope,
  .fa-facebook-f,
  .fa-instagram {
    height: 1rem;
  }
}

@media (max-width: 585px) {
  .lg-main-nav {
    .fa-user-shield,
    .fa-envelope,
    .fa-facebook-f,
    .fa-instagram {
      display: none;
    }
  }
}